<mat-card>
    <div class="contact-main">
        <div class="left-up">
            <h1 class="main-title">{{ 'CONTACT.CONTACT_TITLE' | translate }}</h1>
            <h5>{{ 'CONTACT.COMPANY_NAME' | translate }}</h5>
            <h5><a target="_blank"
                    href="https://www.google.com/maps/place/Benemir+d.o.o./@44.7549725,14.7607798,18.75z/data=!4m5!3m4!1s0x4763af27c9e90af9:0x884e8c7ac4cdf74!8m2!3d44.7548505!4d14.7611179?hl=hr">
                    <mat-icon>location_on</mat-icon>{{ 'CONTACT.ADDRESS' | translate }}
                </a></h5>
            <h5><a href="tel:+38551550183">
                    <mat-icon>phone</mat-icon>{{ 'CONTACT.PHONE_1' | translate }}
                </a></h5>
            <h5><a href="tel:+385998244254">
                    <mat-icon>phone</mat-icon>{{ 'CONTACT.PHONE_2' | translate }}
                </a></h5>
            <h5><a href="mailto:prodaja@benemir.com">
                    <mat-icon>email</mat-icon>{{ 'CONTACT.EMAIL' | translate }}
                </a></h5>
        </div>
        <div class="right-down">
            <div style="font-weight: bold;">{{ 'CONTACT.SUMMER_TITLE' | translate }}</div>
            <div style="font-weight: bold;">{{ 'CONTACT.SUMMER_DATE' | translate }}</div>
            <div>{{ 'CONTACT.SUMMER_DAYS_1' | translate }}</div>
            <div>{{ 'CONTACT.SUMMER_DAYS_2' | translate }}</div>
            <div style="font-weight: bold; margin-top: 15px;">{{ 'CONTACT.WINTER_TITLE' | translate }}</div>
            <div style="font-weight: bold;">{{ 'CONTACT.WINTER_DATE' | translate }}</div>
            <div>{{ 'CONTACT.WINTER_DAYS' | translate }}</div>
            <div>{{ 'CONTACT.WINTER_TIME' | translate }}</div>
        </div>
    </div>

</mat-card>
<div id="benemir_map"></div>
<mat-card>
    <p>{{ 'CONTACT.COMPANY_DESCRIPTION' | translate }}</p>
    <p>{{ 'CONTACT.MBS' | translate }}</p>
    <p>{{ 'CONTACT.OIB' | translate }} </p>
    <p>{{ 'CONTACT.EUID' | translate }}</p>
    <p>{{ 'CONTACT.DZS_MBPS' | translate }}</p>
    <p>{{ 'CONTACT.DJELATNOST' | translate }}</p>
    <p>{{ 'CONTACT.OZNAKA_RAZREDA' | translate }}</p>
    <p>{{ 'CONTACT.ACCOUNT' | translate }}</p>
</mat-card>