<mat-card>
    <div class="contact-main">
        <div class="left-up">
            <h1 class="main-title">Kontakt</h1>
            <h5>Benemir d.o.o.</h5>
            <h5><a target="_blank"
                    href="https://www.google.com/maps/place/Benemir+d.o.o./@44.7549725,14.7607798,18.75z/data=!4m5!3m4!1s0x4763af27c9e90af9:0x884e8c7ac4cdf74!8m2!3d44.7548505!4d14.7611179?hl=hr">
                    <mat-icon>location_on</mat-icon>Ivana
                    Rabljanina 6, 51280 Rab
                </a></h5>
            <h5><a href="tel:+38551550183">
                    <mat-icon>phone</mat-icon>+385 5155 0183
                </a></h5>
            <h5><a href="tel:+385998244254">
                    <mat-icon>phone</mat-icon>+385 99 8244 254
                </a></h5>
            <h5><a href="mailto:prodaja@benemir.com">
                    <mat-icon>email</mat-icon>prodaja@benemir.com
                </a></h5>
        </div>
        <div class="right-down">
            <div style="font-weight: bold;">Ljetno radno vrijeme</div>
            <div style="font-weight: bold;">01.06. - 30.09.</div>
            <div>Ponedjeljak - četvrtak: 09-14 & 18-20</div>
            <div>Petak, subota: 09-14</div>
            <div style="font-weight: bold; margin-top: 15px;">Zimsko radno vrijeme</div>
            <div style="font-weight: bold;">01.10. - 31.05.</div>
            <div>Ponedjeljak - subota</div>
            <div>09:15-12:30</div>
        </div>
    </div>

</mat-card>
<div id="benemir_map"></div>
<mat-card>
    <p>Poduzeće BENEMIR d.o.o. za proizvodnju, trgovinu i usluge upisano kod Trgovačkog suda u Rijeci, u registarski
        uložak</p>
    <p>MBS: 040406367</p>
    <p>OIB: 30551645134 </p>
    <p>EUID: HRSR 040406367</p>
    <p>Državni zavod za statistiku - Matični broj poslovnog subjekta: 5143985
    <p>Djelatnost: Ostala trgovina na malo novom robom u specijaliziranim prodavaonicama</p>
    <p>Oznaka razreda: 47.78</p>
    <p>Poslovni račun: PBZ: IBAN HR2923400091111028298</p>
</mat-card>