<div class="center">
    <div class="first-column-content">
        <div style="font-weight: bold;">Kontakt</div>
        <div><a target="_blank" href="https://www.google.com/maps/place/Benemir+d.o.o./@44.7549725,14.7607798,18.75z/data=!4m5!3m4!1s0x4763af27c9e90af9:0x884e8c7ac4cdf74!8m2!3d44.7548505!4d14.7611179?hl=hr">Ivana Rabljanina 6, 51280 Rab</a></div>
        <div><a href="mailto:prodaja@benemir.com"><mat-icon>email</mat-icon>prodaja@benemir.com</a></div>
        <div><a href="tel:+38551550183">
                <mat-icon>phone</mat-icon>+385 5155 0183
            </a></div>
        <div><a href="tel:+385998244254">
                <mat-icon>phone</mat-icon>+385 99 8244 254
            </a></div>
    </div>
    <div class="second-column-content">
        <div style="font-weight: bold;">Ljetno radno vrijeme</div>
        <div style="font-weight: bold;">01.06. - 30.09.</div>
        <div>Ponedjeljak - četvrtak: 09-14 & 18-20</div>
        <div>Petak, subota: 09-14</div>
        <div style="font-weight: bold; margin-top: 15px;">Zimsko radno vrijeme</div>
        <div style="font-weight: bold;">01.10. - 31.05.</div>
        <div>Ponedjeljak - subota</div>
        <div>09:15-12:30</div>
    </div>
    <div class="copyright">
        <div>
            <img src="../../../assets/images/benemir-transparent.png" alt="Logo" class="logo-picture">
        </div>
        <div>Copyright © 2021 Benemir d.o.o. &bull; <a routerLink="/terms">Uvjeti korištenja</a>&bull; <a routerLink="/privacy">Politika privatnosti</a></div>
    </div>
</div>