:host {
    background-color: #f1d564;
    display: grid;
    color: black;
    grid-template-columns: 1fr 4fr 1fr;
}

a {
    color: #3A45A3;
}

.center {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    margin-top: 10px;
}

.mat-icon {
    vertical-align: middle;
 }

.first-column-content {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    text-align: center;
    gap: 15px;
}

.work-time {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
}

.second-column-content {
    grid-column: 1;
    text-align: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.third-column-content {
    grid-column: 2;
    text-align: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 2;
    grid-column: 1 / 4;
    text-align: center;
    font-weight: bold;
}

.logo-picture {
    width: 90px;
}

@media screen and (max-width: 1180px) {
    .center {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin-top: 10px;
    }

    .first-column-content {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        grid-column: 1;

        text-align: center;
        gap: 15px;
    }

    .work-time {
        display: grid;
        grid-column: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .second-column-content {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: start;
    }
    .third-column-content {
        grid-row: 2;
        grid-column: 1;
        text-align: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-self: end;
        margin-top: 10px;
    }

    .copyright {
        margin-top: 30px;
        grid-row: 2;
        grid-column: 1 / 4;
        text-align: center;
        font-weight: bold;
    }
}

@media screen and (max-width: 819px) {
    .center {
        grid-column: 2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-top: 10px;
    }

    .first-column-content {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        grid-column: 1 / 4;

        text-align: center;
        gap: 15px;
    }

    .work-time {
        display: grid;
        grid-column: 1 / 4;
        grid-row: 2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .second-column-content {
        grid-row: 1;
        grid-column: 1 / 4;
        margin-top: 30px;
        text-align: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
    .third-column-content {
        grid-row: 2;
        grid-column: 1 / 4;
        margin-top: 30px;
        text-align: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .copyright {
        margin-top: 30px;
        grid-row: 3;
        grid-column: 1 / 4;
        text-align: center;
        font-weight: bold;
    }
}
