<div class="center">
    <div class="first-column-content">
        <div style="font-weight: bold;">Kontakt</div>
        <div>Ivana Rabljanina 6, 51280 Rab</div>
        <div><a href="mailto:prodaja@benemir.com"><mat-icon>email</mat-icon>prodaja@benemir.com</a></div>
        <div><a href="tel:+38551550183">
                <mat-icon>phone</mat-icon>+385 5155 0183
            </a></div>
        <div><a href="tel:+385998244254">
                <mat-icon>phone</mat-icon>+385 99 8244 254
            </a></div>
    </div>
    <div class="second-column-content">
        <div style="font-weight: bold;">Ljetno radno vrijeme</div>
        <div>Ponedjeljak - četvrtak: 09-14 & 18-20</div>
        <div>Petak, subota: 09-14</div>
        <div style="font-weight: bold; margin-top: 15px;">Zimsko radno vrijeme</div>
        <div>Ponedjeljak - subota</div>
        <div>09:15-12:30</div>
    </div>
    <div class="copyright">
        Copyright © 2021 Benemir d.o.o. &bull; <a routerLink="/terms">Pravila korištenja</a>
    </div>
</div>