<div class="center">
    <div class="first-column-content">
        <div style="font-weight: bold;">Kontakt</div>
        <div><a target="_blank"
                href="https://www.google.com/maps/place/Benemir+d.o.o./@44.7549725,14.7607798,18.75z/data=!4m5!3m4!1s0x4763af27c9e90af9:0x884e8c7ac4cdf74!8m2!3d44.7548505!4d14.7611179?hl=hr">
                {{ 'CONTACT.ADDRESS' | translate }}</a></div>
        <div><a href="mailto:prodaja@benemir.com">
                <mat-icon>email</mat-icon>{{ 'CONTACT.EMAIL' | translate }}
            </a></div>
        <div><a href="tel:+38551550183">
                <mat-icon>phone</mat-icon>{{ 'CONTACT.PHONE_1' | translate }}
            </a></div>
        <div><a href="tel:+385998244254">
                <mat-icon>phone</mat-icon>{{ 'CONTACT.PHONE_2' | translate }}
            </a></div>
    </div>
    <div class="work-time">
        <div class="second-column-content">
            <div style="font-weight: bold;">{{ 'CONTACT.SUMMER_TITLE' | translate }}</div>
            <div style="font-weight: bold;">{{ 'CONTACT.SUMMER_DATE' | translate }}</div>
            <div>{{ 'CONTACT.SUMMER_DAYS_1' | translate }}</div>
            <div>{{ 'CONTACT.SUMMER_DAYS_2' | translate }}</div>
        </div>
        <div class="third-column-content">
            <div style="font-weight: bold;">{{ 'CONTACT.WINTER_TITLE' | translate }}</div>
            <div style="font-weight: bold;">{{ 'CONTACT.WINTER_DATE' | translate }}</div>
            <div>{{ 'CONTACT.WINTER_DAYS' | translate }}</div>
            <div>{{ 'CONTACT.WINTER_TIME' | translate }}</div>
        </div>
    </div>
    
    <div class="copyright">
        <div>
            <img src="../../../assets/images/benemir-transparent.png" alt="Logo" class="logo-picture">
        </div>
        <div>Copyright © 2021 Benemir d.o.o. &bull; <a routerLink="/terms">{{ 'TERMS.TERMS_TITLE' | translate }} </a>&bull; <a
                routerLink="/privacy">{{ 'PRIVACY.PRIVACY_TITLE' | translate }}</a></div>
    </div>
</div>