:host {
    display: grid;
    grid-template-rows: 220px minmax(50px, auto) auto;
    color: #3A45A3;
}

.logo-header {
    grid-row: 1;
    justify-self: center;
}

.header-main {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #3A45A3;
}

.main-title:hover {
    cursor: pointer;
}

.header-main-left {
    grid-column: 1;
}

.header-main-right {
    grid-column: 3;
}

.header-main-mid {
    display: grid;
    grid-column: 2;
    grid-template-rows: 3fr 2fr;
}

.header-main-top {
    grid-row: 1;
    display: grid;
    color: white;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%
}

.main-title {
    grid-column: 2;
    font-size: 56px;
    justify-self: center;
}

.header-top-utility {
    grid-column: 3;
    justify-self: end;
    align-self: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.navigation-header {
    grid-row: 2;
    display: grid;
    grid-template: 1;
    background-color: #3A45A3;
}

.nav-items {
    grid: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-item {
    display: grid;
    min-height: 60px;
    justify-self: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #3A45A3;
    width: 100%;
    text-align: center;
    height: 100%;
}

.nav-item a {
    color: white;
    text-decoration-line: none;
}

.nav-item a:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 820px) {
    .nav-items {
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100vw;
        height: 100%;
    }
}

.menu-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.hamburger-container {
    grid-column: 2;
    justify-self: center;
}

.cart-container {
    display: grid;
    grid-column: 5;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

mat-icon {
    color: white;
    cursor: pointer;
    font-size: 30px;
}

@media screen and (min-width: 820px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 819px) {
    .header-main-mid {
        display: grid;
        grid-column: 2;
        grid-template-rows: 3fr 2fr;
    }
}

a {
    color: #3A45A3;
}

img {
    max-width: 200px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    height: 100%;
    width: 100%;
    outline: 0;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.dropbtn {
    background-color: white;
    font-weight: bold;
    color: #3A45A3;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100vw;
}


/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100vw;
    cursor: pointer;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #3A45A3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */


/* .dropdown:hover .dropdown-content {
    display: block;
} */


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3A45A3;
    color: white;
}

.flag {
    grid-column: 2;
    margin-top: 5px;
    justify-self: center;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
