<mat-card>
    <h1>Politika privatnosti</h1>
    <h5>Izjava o zaštiti i prikljupljanju osobnih podataka i njihovom korištenju</h5>
    <p>Nama je privatnost posjetitelja i korisnika posebno važna. Sve osobne informacije koje ostavite na našoj stranici
        su sigurno pohranjene, a skupljamo samo podatke koje dopušta zakon o zaštiti osobnih podataka i zakon o
        elektronskim komunikacijama.</p>
    <p>Benemir d.o.o. se obavezuje pružati zaštitu osobnim podacima korisnika, na način da prikuplja samo nužne, osnovne
        podatke o korisnicima koji su nužni za ispunjenje naših obveza; informira korisnike o načinu korištenja
        prikupljenih podataka, redovito daje korisnicima mogućnost izbora o upotrebi njihovih podataka, uključujući
        mogućnost odluke žele li ili ne da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje. Svi se
        podaci o korisnicima strogo čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje
        posla. Svi djelatnici Benemir d.o.o. i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.
    </p>
    <h5>Vrsta osobnih podataka koji se prikupljaju preko mrežne stranice</h5>
    <p>Benemir d.o.o. može prikupljati sljedeće osobne podatke korisnika mrežne stranice preko odgovarajućih obrazaca:
        ime, adresa e-pošte, poštanska adresa, telefonski broj, datum rođenja, spol kada korisnik posjeti mrežnu
        stranicu, registrira se, kontaktira podršku ili sudjeluje u promocijama ili anketama poduzeća Benemir d.o.o..
        Spomenute se informacije ni u kojem slučaju neće prikupljati preko kanala koji nisu prethodno navedeni, čak ni
        kada su oni dostupni na internetu (e-pošta, razgovor, Facebook itd.). Ako se spomenute informacije prime preko
        jednog od navedenih načina, Benemir d.o.o. se njima neće koristiti ni u koju svrhu navedenu u sljedećem odjeljku.
        Benemir d.o.o. k tomu neće snositi odgovornost za sigurnost spomenutih podataka niti može jamčiti njihovu
        povjerljivost.</p>
    <p>U svim su slučajevima podaci zahtijevani preko mrežne stranice potrebni radi pružanja optimalne usluge korisniku.
        U slučaju kada korisnik ne pruži zahtijevane podatke, Benemir d.o.o. ne može jamčiti da će pružene informacije i
        usluge u potpunosti zadovoljiti korisnikove potrebe.</p>
    <h5>Način na koji se Benemir d.o.o. koristi korisnikovim osobnim podacima</h5>
    <p>Benemir d.o.o. obrađivati korisničke podatke u sljedeće svrhe Slanje komercijalnih informacija e-poštom kako bi ih
        se izvijestilo o novim proizvodima, posebnim ponudama i novostima u vezi s mrežnom stranicom i/ili poduzećem
        Benemir d.o.o. općenito, newsletterima. Spomenute komercijalne informacije odnose se na proizvode ili usluge koje
        nudi Benemir d.o.o. kao i svi suradnici ili partneri s kojima je poduzeće sklopilo ugovor o prodajnoj promociji
        među svojim kupcima. Suradnici ili partneri ni u kojem slučaju neće imati pristup osobnim podacima korisnika. U
        svim će slučajevima komercijalne obavijesti upućivati Benemir d.o.o. te će se one odnositi na proizvode i usluge
        unutar poslovnog sektora poduzeća. Korisnici mogu otkazati pružanje svih pretplaćenih usluga klikom na odjeljak
        Pretplate</p>
    <h5>Način na koji Benemir d.o.o. koristi moje osobne podatke</h5>
    <p>Mrežna stranica koristi se tehnologijama za zaštitu podataka kao što su vatrozid, postupci za provjeru pristupa i
        kriptografski mehanizmi radi sprječavanja svih oblika neovlaštenog pristupa podacima i jamčenja povjerljivosti
        podataka. Radi postizanja spomenutih ciljeva, korisnici prihvaćaju da će Benemir d.o.o. prikupljati podatke u
        svrhu provjere kontrola pristupa.</p>
    <p>Poduzeće Benemir d.o.o. izjavljuje da je usvojilo sve tehničke i organizacijske mjere potrebne za jamčenje
        sigurnosti i cjelovitosti osobnih podataka koje obrađuje te za sprječavanje njihova gubitka, izmjenjivanja i/ili
        neovlaštenog pristupa preko trećih strana.</p>
    <h5>Dijeli li Benemir d.o.o. moje osobne podatke?</h5>
    <p>Benemir d.o.o. izričito obavještava i jamči korisnicima da se njihovi osobni podaci ni u kojem slučaju neće
        prosljeđivati trećim stranama i da će prije prosljeđivanja osobnih podataka zahtijevati izričiti, informirani i
        jasni pristanak njihovih vlasnika.</p>
    <h5>Moja prava u pogledu upravljanja mojim osobnim podacima</h5>
    <p>Poduzeće Benemir d.o.o. korisnicima u svakom trenutku jamči mogućnost iskorištavanja njihova prava na pristup,
        ispravljanje, poništavanje ili protivljenje osobnim podacima koje su pružili pod uvjetima sadržanima u
        primjenjivom zakonodavstvu. Korisnici mrežne stranice mogu iskoristiti spomenuta prava slanjem pisanog zahtjeva,
        uz prilaganje kopije njihove nacionalne identifikacijske isprave, na adresu info@smoothcoding.net</p>
</mat-card>