<mat-card>
    <h1>{{ 'PRIVACY.PRIVACY_TITLE' | translate }}</h1>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_1' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_1' | translate }}</p>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_2' | translate }}</p>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_2' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_3' | translate }}</p>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_4' | translate }}</p>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_3' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_5' | translate }}</p>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_4' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_6' | translate }}</p>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_7' | translate }}</p>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_5' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_8' | translate }}</p>
    <h5>{{ 'PRIVACY.PRIVACY_SUBTITLE_6' | translate }}</h5>
    <p>{{ 'PRIVACY.PRIVACY_TEXT_9' | translate }}</p>
</mat-card>