<h1 mat-dialog-title>Odaberite jezik</h1>
<div mat-dialog-content>
    <ul>
        <li><button mat-button [mat-dialog-close]="'gb'"><div class="flag flag-icon flag-icon-gb"></div>English</button></li>
        <li><button mat-button [mat-dialog-close]="'hr'"><div class="flag flag-icon flag-icon-hr"></div>Hrvatski</button></li>
        <li><button mat-button [mat-dialog-close]="'de'"><div class="flag flag-icon flag-icon-de"></div>Deutsch</button></li>
        <li><button mat-button [mat-dialog-close]="'it'"><div class="flag flag-icon flag-icon-it"></div>Italiano</button></li>
        <li><button mat-button [mat-dialog-close]="'fr'"><div class="flag flag-icon flag-icon-fr"></div>Français</button></li>
    </ul>
</div>
<div mat-dialog-actions style="display: grid; justify-content: end;">
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>
