.flag {
    margin-right: 20px;
    justify-self: center;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.flag-icon-gb {
    margin-right: 25px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

button {
    outline: 0;
    width: 200px;
}

::ng-deep .cdk-overlay-container {
    overflow-y: hidden !important;
}
