<mat-card>
    <h1>{{ 'TERMS.TERMS_TITLE' | translate }}</h1>
    <p>{{ 'TERMS.TERMS_TEXT_1' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_2' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_3' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_4' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_5' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_6' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_7' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_8' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_9' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_10' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_11' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_12' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_13' | translate }}</p>
    <p>{{ 'TERMS.TERMS_TEXT_14' | translate }}</p>
</mat-card>