<mat-card>
    <h1>Pravila korištenja</h1>
    <p>Benemir d.o.o. izdavač je internet stranice www.benemir.com. Korištenjem internetske stranice smatra se
        da ste kao korisnik u potpunosti upoznati i suglasni s navedenim Uvjetima korištenja i Uvjetima prodaje.</p>
    <p>Ukoliko se s istima ne slažete i ne prihvaćate ih, molimo vas da se ne koristite ovom internetskom stranicom.
        Svakim daljnjim korištenjem ovih Internetskih stranica nakon upoznavanja s Uvjetima korištenja, smatra se da su
        korisnici suglasni s ovdje iznesenim uvjetima i pravilima te pristaju na korištenje internetskih stranica
        sukladno tim uvjetima. Korisnik je suglasan da je korištenje internetskih stranica isključivo na njegovu
        odgovornost. Benemir d.o.o. ne može ni na koji način jamčiti da korištenje ove internetske stranice neće biti
        prekinuto ili bez pogrešaka, niti mogu jamčiti za posljedice korištenja ove internetske stranice ili točnost,
        pouzdanost ili sadržaj bilo koje informacije, usluge ili robe dane preko ovih internetskih stranica.</p>
    <p>Korisnik se slaže i potvrđuje da Benemir d.o.o. nije odgovoran za neprikladno ili protuzakonito ponašanje drugih
        korisnika ili trećih strana te da je rizik od eventualnih šteta nastalih kao rezultat navedenog u potpunosti na
        korisniku. Izjava o odgovornosti odnosi se na sve štete uzrokovane bilo kakvom greškom, brisanjem, prekidom,
        računalnim virusom, kvarom, kašnjenjem u radu ili prijenosu, prekidom u komunikacijskoj liniji, krađom, raskidom
        ugovora, uništenjem ili neovlaštenim pristupom, promjenama ili zlouporabom zapisa, neprikladnim ponašanjem,
        nemarom, ili bilo kakvom drugom radnjom.</p>
    <p>Benemir d.o.o. ili druga fizička ili pravna osoba uključena u stvaranje, proizvodnju i distribuciju ove
        intenetske stranice nisu odgovorni ni za kakvu štetu nastalu kao posljedica korištenja ili nemogućnosti
        korištenja ovih internetskih stranica.</p>
    <p>Bilo kakva oštećenja opreme korisnika nastala kao posljedica korištenja ovih internetskih stranica nisu u
        odgovornosti Benemir d.o.o.. Benemir d.o.o. zadržava pravo u svakom trenutku, i bez prethodne obavijesti,
        ukoliko to smatra potrebnim, ukinuti ili izmijeniti bilo koji od ovdje navedenih Uvjeta korištenja internetske
        stranice ili Uvijeta prodaje. Predmetne izmjene mogu između ostalog uključivati i uvođenje određenih naknada ili
        naplata, pa savjetujemo korisnike da periodično ponovno detaljno pročitaju informacije sadržane u Uvjetima
        korištenja i Uvjetima prodaje, a kako bi bili informirani o eventualnim promjenama.</p>
    <p>Također, Benemir d.o.o. zadržava pravo u bilo kojem trenutku izmijeniti ili ukinuti bilo koji segment
        poslovanja, uključujući, i bez ograničenja, vrijeme dostupnosti, sadržaj, kao i opremu potrebnu za pristup ili
        korištenje internet stranica.</p>
    <p>Svaka eventualna izmjena ili brisanje uvjeta korištenja važeća je prema trećima odmah po objavi na internetskim
        stranicama. Svako korištenje, osim upoznavanja s izmjenama uvjeta, predmetnih internetskih stranica od strane
        krajnjeg korisnika nakon takve promjene podrazumijevat će se kao prihvaćanje tih promjena.</p>
    <p>Korisnici ne smiju putem ovih internetskih stranica objavljivati, prenositi ili učiniti dostupnima na bilo koji
        način nikakve materijale čijim sadržajem se na bilo koji način krše prava drugih, primjerice, sadržaj koji je
        uvredljiv, klevetnički, koji narušava ili ugrožava privatnost itd., kao ni materijale nezakonitog sadržaja i
        forme. Benemir d.o.o. zadržava diskrecijsko pravo da sam ocijeni je li došlo do povrede obveza od strane
        korisnika. Korisnik ne smije bez prethodnog pismenog odobrenja Benemir d.o.o. objavljivati, prenositi ili
        učiniti dostupnima na bilo koji način sadržaj koji sadrži oglas, reklamu ili ponudu bilo čijih proizvoda i
        usluga, kao ni vjersku, političku i nekomercijalnu promidžbu, a posebno ne smije vrbovati druge korisnike
        internetskih stranica da postanu korisnici druge usluge koja je direktna ili indirektna konkurencija. Materijali
        koji se nalaze na internetskim stranicama u vlasništvu su tvrke Benemir d.o.o. te su kao takvi zaštićeni
        zakonom, ili se koriste sukladno odobrenju nositelja autorskih prava te nositelja prava na žigovima, kao i
        sukladno drugim potrebnim odobrenjima. Benemir d.o.o. je također nositelj autorskih prava na cjelokupnom
        idejnom sadržaju internetske stranice neophodnom za ispravno i nesmetano funkcioniranje.</p>
    <p>Ilustracije koje su objavljene na stranici autorska su dijela i vlasništvo tvrtke Benemir d.o.o. ili besplatne
        za upotrebu.</p>
    <p>Zabranjeno je bilo kakva kopiranje, prijenos, distribucija, povezivanje, objavljivanje ili na bilo koji način
        mijenjanje ovih internetskih stranica bez pismenog odobrenja Benemir d.o.o.. Svako kršenje spomenute zabrane
        može imati za posljedicu povredu autorskih prava, prava žiga, ili kakvog drugog prava pa stoga može proizvesti
        neželjene učinke kao što su pokretanja više vrsta sudskih postupaka, a osobito može dovesti do kaznenog progona.
        Korisnik ne smije mijenjati, objavljivati, prenositi, sudjelovati u prijenosu ili prodaji, stvarati izvedenice,
        ili na bilo koji drugi način iskorištavati bilo koji sadržaj sa internetske stranice u cijelosti ili djelomično.
    </p>
    <p>Također nije dozvoljeno kopiranje, redistribucija, ponovni prijenos, izdavanje ili komercijalno iskorištavanje
        preuzetog materijala. Korisnik se slaže da neće smatrati odgovornim i da će obeštetiti Benemir d.o.o. od svih
        zahtjeva za naknadom štete i troškova.</p>
    <p>Benemir d.o.o. nije odgovoran za bilo kakav eventualni gubitak ili štetu nastalu iz razloga što se korisnik
        oslonio na informacije dobivene na internetskim stranicama. Benemir d.o.o. se izričito ograđuje u svakom smislu
        od sadržaja materijala na internet stranicama trećih strana, a na koje bi se moglo pristupiti sa internetske
        stranice. U slučaju da je neka od stavki ovih uvjeta korištenja ništava, takva ništavost neće utjecati na
        valjanost bilo koje druge odredbe ovih uvjeta, te će preostali dijelovi ovih Uvjeta ostati na snazi, a ništavna
        odredba će se zamijeniti valjanom odredbom koja po smislu i pravoj volji najviše odgovara odredbi koja je
        ništavna. Ukoliko bilo koja strana ne iskoristi svoja prava iz ovih uvjeta korištenja, to se neće smatrati
        odricanjem ili gubitkom tih prava, kao ni bilo kojih drugih ovdje navedenih prava.</p>
    <p>Osobama mlađim od 14. godina zabranjeno je korištenje internetske stranice. Bilo koji spor ili zahtjev, proizašao
        iz, ili koji je u vezi s ovim Uvjetima, ili u vezi s njihovim provođenjem, u nadležnosti je suda u Zagrebu i
        rješava se u skladu s propisima Republike Hrvatske.</p>
    <p>Posjetom stranici smatra se da je korisnik ove Uvjete korištenja u cijelosti pročitao.</p>
</mat-card>