<mat-card>
    <div>
        <h1 class="main-title">{{ 'SHOP.SHOP_TITLE' | translate }}</h1>
        <h5>{{'SHOP.SHOP_TEXT_DOWNLOAD' | translate }}{{ 'SHOP.SHOP_TEXT' | translate }}</h5>
        <div style="margin-left: 50px;">
            <ul>
                <li><a target="_self" download="Benemir_HR_catalog.pdf" href="../../../assets/catalog/Hrvatski.pdf"
                        target="_self">Hrvatski</a></li>
                <li><a target="_self" download="Benemir_EN_catalog.pdf" href="../../../assets/catalog/English.pdf"
                        target="_self">English</a></li>
                <li><a target="_self" download="Benemir_SI_catalog.pdf" href="../../../assets/catalog/Slovenščina.pdf"
                        target="_self">Slovenščina</a></li>
                <li><a target="_self" download="Benemir_DE_catalog.pdf" href="../../../assets/catalog/Deutsch.pdf"
                        target="_self">Deutsch</a></li>
                <li><a target="_self" download="Benemir_IT_catalog.pdf" href="../../../assets/catalog/Italiano.pdf"
                        target="_self">Italiano</a></li>
                <li><a target="_self" download="Benemir_FR_catalog.pdf" href="../../../assets/catalog/Français.pdf"
                        target="_self">Français</a></li>
                <li><a target="_self" download="Benemir_RU_catalog.pdf" href="../../../assets/catalog/Русский.pdf"
                        target="_self">Русский</a></li>
            </ul>
        </div>
    </div>
</mat-card>