:host {
    display: grid;
    grid-template-rows: auto;
}

mat-card {
    border-radius: 0;
}

p {
    text-align: left;
}

.mat-button {
    background-color: rgb(58, 69, 163, 0.8);
    color: white;
}

.main-title {
    color: white;
    justify-self: center;
    align-self: center;
}


.additional-info {
    color: white;

    font-size: 25px;
}

.welcome-image {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 68vw;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.342)), url('../../../assets/images/welcome/3.jpg');
    background-color: #cccccc;
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    min-height: 800px;
    height: auto;
}

.content {
    grid-row: 1;
    justify-self: center;
    text-align: center;
    max-width: 100%;
}

.benemir-description {
    display: grid;
    text-align: start;
}

li {
    margin-left: 25px;
    font-weight: bold;
    font-size: large;
}

.carousel-button {
    margin: 10px;
    background-color: white;
    color: rgb(58, 69, 163);
}

.content-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 350px;
    padding-bottom: 10px;
    width: 100%;
}

.row-text {
    display: grid;
    place-self: center;
}

.row-picture {
    max-width: auto;
}

.picture {
    height: 350px;
    width: 100%;
    border-radius: 50%;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.carousel-container {
    display: grid;
    justify-content: center;
    min-height: 400px;
    max-height: 500px;
    margin-bottom: 10px;
}

.shop-button-container {
    display: grid;
    justify-content: center;
    justify-self: center;
    
    text-align: center;
    height: auto;
}
.shop-button {
    min-width: 150px;
    background-color: rgb(58, 69, 163);
    border-radius: 5px;
}

drag-scroll {
    height: 400px;
    width: auto;
}

img {
    height: 400px;
    width: auto;
}

@media screen and (max-width: 1300px) {
    .picture {
        height: 250px;
    }
    .content-row {
        min-height: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .picture {
        height: 200px;
    }
    .content-row {
        min-height: 200px;
    }
    .welcome-image {
        width: 98vw;
    }
}

@media screen and (max-width: 1000px) {
    .picture {
        height: 150px;
    }
    .content-row {
        min-height: 150px;
    }
    .welcome-image {
        width: 98vw;
    }
}

@media screen and (max-width: 970px) {
    .content-row {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .row-text {
        max-height: auto;
        grid-row: 1;
        margin-bottom: 10px;
    }
    .row-picture {
        max-width: 411px;
        max-height: 400px;
        margin: 0 !important;
    }
    .picture {
        display: grid;
        justify-self: center;
        height: 250px;
    }
    .welcome-image {
        width: 98vw;
    }
}

@media screen and (max-width: 821px) {
    .carousel-container {
        min-height: 400px;
        max-height: 400px;
    }
    drag-scroll {
        height: 300px;
    }
    img {
        height: 300px;
    }
    .welcome-image {
        width: 100%;
    }
}


@media screen and (max-width: 650px) {
    .carousel-container {
        min-height: 300px;
        max-height: 300px;
    }
    drag-scroll {
        height: 250px;
    }
    img {
        height: 250px;
    }
    .welcome-image {
        width: 100vw;
    }
}

@media screen and (max-width: 550px) {}