<div class="content">
    <div style="margin-bottom: 15px;">
        <mat-card>
            <h1 class="main-title">
                O nama
            </h1>
            <p>BENEMIR d.o.o. je tvrtka u području proizvodnje, trgovine i usluga. Preuzima
                nasljeđe, iskustvo i recepture tisućljetnog Samostana Benediktinki sv. Andrije na Rabu u proizvodnji
                originalnih i autohtonih
                proizvoda kao što su rapska torta, tinkture, masti, likeri, marmelade. </p>
            <p>Osnovni cilj naše djelatnosti je da se u proizvodnji finalnih proizvoda koriste lokalno ekološki
                proizvedene sirovine.
            </p>

        </mat-card>
    </div>
    <div class="carousel-container">
        <drag-scroll #nav scrollbar-hidden="true">
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/1-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/2-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/3-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/4-min.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/5-min.JPG" />
        </drag-scroll>
        <div style="min-height: 50px;">
            <button mat-button (click)="moveLeft()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-button (click)="moveRight()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <mat-card>
        <div class="content-row">
            <div class="row-text">
                <h1 class="main-title">
                    Rapska torta
                </h1>
                <p>Iz samostana koludrica benediktinki u Rabu potječe i Rapska torta. Kolač koji su, kako usmena predaju
                    kaže, napravile koludrice prigodom posjeta pape Aleksandra III Rabu, 1177. Stoljećima prepisivan i u
                    svojoj izvornosti čuvan, recept je došao i do naših dana.</p>
            </div>
            <div class="row-picture picture right">
                <img src="../../../assets/images/IMG_3789.JPG" alt="Samostan sv.Andrije" class="picture">
            </div>
        </div>
    </mat-card>

    <div class="carousel-container" style="margin-top: 10px;">
        <drag-scroll #torta scrollbar-hidden="true">
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/1-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/2-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/3-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/4-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/5-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/6-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/7-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/8-min.JPG" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/torta/9-min.JPG" />
        </drag-scroll>
        <div style="min-height: 50px;">
            <button mat-button (click)="moveLeftTorta()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-button (click)="moveRightTorta()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>


    <mat-card>
        <div class="content-row">

            <div class="row-text">
                <h1 class="main-title">
                    Domaći proizvodi
                </h1>
                <p>Obnavljamo zapušteno poljoprivredno zemljište na poluotoku Kalifrontu i sadimo voćnjake. Pokrećemo
                    poljoprivrednu ekološku i održivu proizvodnju voćaka i
                    ljekovitog bilja. Planiramo proizvoditi sirovine koje se koriste za rapsku tortu (bademi, naranče,
                    limuni), tinkture, masti (ljekovito bilje) i likere.</p>
            </div>
            <div class="row-picture picture right">
                <img src="../../../assets/images/_1180161.JPG" alt="Priroda" class="picture">
            </div>
        </div>

        <div class="content-row">
            <div class=" row-picture picture left">
                <img src="../../../assets/images/DSC_7953.jpg" alt="Ručni radovi" class="picture">
            </div>
            <div class="row-text">
                <h1 class="main-title">
                    Ručni radovi
                </h1>
                <p>Ono što nas čini prepoznatljivima
                    na tržištu su dugogodišnja znanja i radno iskustvo naših stručnjaka i suradnika u kreiranju i izradi
                    različitih proizvoda. Naša filozofija počiva na dodavanju vrijednosti kroz razvoj originalnih i
                    zdravih rješenja kao odgovora na izazove s kojima se suočavaju naši kupci.</p>
            </div>
        </div>


    </mat-card>
</div>