<div class="content">
    <div class="welcome-image">
        <!-- <img class="lazyload total-cover" src="../../../assets/images/welcome/3.jpg"> -->
        <h1 class="main-title">Dobrodošli!</h1>
        <h3 ><button style="width: 200px;height: 100px; font-size: 20px;" mat-button (click)="scrollToContent();">Saznaj više!<br><mat-icon style="font-size: 30px;">touch_app</mat-icon></button></h3>
    </div>
    <div class="carousel-container">
        <drag-scroll #products scrollbar-hidden="true">  
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/6-min_opt.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/2-min_opt.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/8-min_opt.jpg" />
        
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/1-min_opt.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/4-min_opt.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/7-min_opt.jpg" />
            <img drag-scroll-item class="lazyload" data-src="../../../assets/images/about/5-min_opt.jpg" />
        </drag-scroll>
        <div style="min-height: 50px;">
            <button mat-button (click)="moveLeft()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-button (click)="moveRight()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

</div>