<app-header #stickyHeaderApp></app-header>
<div class="base" #belowHeader>
    <div id="mySidenav" class="sidenav">
        <div class="sidebar-element"><a href="#"><mat-icon>home</mat-icon>  O nama</a></div>
        <div class="sidebar-element"><a href="#"><mat-icon>shopping_cart</mat-icon>  Web trgovina</a></div>
        <div class="sidebar-element"><a href="#"><mat-icon>add_location</mat-icon>  Samostan</a></div>
        <div class="sidebar-element"><a href="#"><mat-icon>phone</mat-icon>  Kontakt</a></div>
    </div>
    <div class="content" id="main">
        <div class="left-column"></div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
        <div class="right-column"></div>
    </div>
</div>
<app-footer></app-footer>
