<app-header #stickyHeaderApp></app-header>
<div class="base" #belowHeader>
    <div id="mySidenav" class="sidenav">
        <div class="sidebar-element"><a href="#">O nama</a></div>
        <div class="sidebar-element"><a href="#">Web trgovina</a></div>
        <div class="sidebar-element"><a href="#">Samostan</a></div>
        <div class="sidebar-element"><a href="#">Kontakt</a></div>
    </div>
    <div class="content" id="main">
        <div class="left-column"></div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
        <div class="right-column"></div>
    </div>
</div>
<app-footer></app-footer>
