<app-header #stickyHeaderApp></app-header>
<div class="base" #belowHeader>
    <div id="mySidenav" class="sidenav">
        <div class="sidebar-element"><a href="#">About</a></div>
        <div class="sidebar-element"><a href="#">Services</a></div>
        <div class="sidebar-element"><a href="#">Clients</a></div>
        <div class="sidebar-element"><a href="#">Contact</a></div>
    </div>
    <div class="content" id="main">
        <div class="left-column"></div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
        <div class="right-column"></div>
    </div>
</div>
<app-footer></app-footer>
