<mat-card>
    <h1 class="main-title">
        {{ 'HISTORY.HISTORY_TITLE' | translate }}</h1>
    <p>{{ 'HISTORY.HISTORY_TEXT_1' | translate }}</p>
</mat-card>

<div class="carousel-container">
    <drag-scroll #samostan scrollbar-hidden="true">
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanVan/1-min.jpg" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanVan/2-min.jpg" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanVan/3-min.jpg" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanVan/4-min.jpg" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanVan/5-min.jpg" />
    </drag-scroll>
    <div style="min-height: 50px; place-self: center;">
        <button mat-button (click)="moveLeftSamostan()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-button (click)="moveRightSamostan()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>

<mat-card>
    <p>{{ 'HISTORY.HISTORY_TEXT_2' | translate }}</p>
    <p>{{ 'HISTORY.HISTORY_TEXT_3' | translate }}</p>
</mat-card>
<div class="carousel-container">
    <drag-scroll #samostanUnutra scrollbar-hidden="true">
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanUnutra/1-min.JPG" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanUnutra/2-min.JPG" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanUnutra/3-min.JPG" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanUnutra/4-min.png" />
        <img drag-scroll-item class="lazyload" data-src="../../../assets/images/samostanUnutra/5-min.JPG" />
    </drag-scroll>
    <div style="min-height: 50px; place-self: center;">
        <button mat-button (click)="moveLeftSamostanUnutra()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-button (click)="moveRightSamostanUnutra()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
<mat-card>
    <p>{{ 'HISTORY.HISTORY_TEXT_4' | translate }}</p>
    <p>{{ 'HISTORY.HISTORY_TEXT_5' | translate }}</p>
</mat-card>